@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
	font-family: 'Noto Sans Japanese', sans-serif;

	width: 100%;
	margin: 0 auto;
	background: #F4F4F2;
	font-size: 23px;
	font-weight: 200;
}

.view {
	width: 80%;
	margin: 0 auto;
}

ul {
	margin-left: -40px;
}

li {
	list-style: none;
	display: inline;
}

a {
	text-decoration: none;
	color: #ffffff;
}

.unvisible {
	display: none;
}

/*-------------- header --------------*/

header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;

	background: #3d3d3d;
	color: #fefefe;
	padding: 20px 0px;
}

header.banner div.info {
	display: inline;
}

header.banner div #title {
	font-size: 24px;
	font-weight: 200;
	margin-right: 10px;
}

header .nav {
/*	float: right; */
	position: fixed;
	right: 10%;
	top: 23px;
	font-size: 20px;
}

header .nav ul {
	margin: 0px;
	padding: 0px;
}

header .nav li a{
	padding: 0px 15px;
	color: #fefefe;
	transition: color 500ms;
}

header .nav li a:hover{
	color: #b8b8b8;
	transition: color 500ms;
}

/*--------------- main ---------------*/
.main {
	background: #f5f5f5;
	margin: 15px 0px;
	margin-top: 76px;
}

.main .hl {
	width: 250px;
	padding: 20px 0px;
	font-weight: 200;
	font-size: 32px;
	text-align: center;
	margin: 0 auto;
	border-bottom: 1px solid #989898;
}

.main p {
	text-align: center;
}

.main ul {
	text-align: center;
}

.main ul li {
	vertical-align: top;
	display: inline-block;
	margin: 0px 2%;
	border-radius: 50%;
}

.main ul li:last-child {
	padding-right: 0;
}

.main .profile {
	margin: 0 auto;
	text-align: center;
	
	margin-top: 50px;
}

.main img {
	width:  70px;
	height: 70px;
	border-radius: 50%;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
	opacity: 1;

	margin: 20px 0px;
	transition: opacity 500ms;
}

.main img:hover {
	opacity: 0.7;

	transition: opacity 500ms;
}

.main .info li ul {
	padding: 0px;
	font-size: 18px;
	margin-left: 0px;
}

.main .info li ul li {
	display: block;
	margin: 10px 0 0 0;

	height: auto;
}

.main .info li ul li .bold {
	font-weight: 400;
}

.main .links li ul {
	display: none;
	text-align: left;
	padding: 0px;
	font-size: 18px;

	margin: 0px -40px -40px -40px;
	padding: 0px 40px  40px  40px;
}

.main .links li:hover ul {
	visibility: visible;
	opacity: 1;
}

.main .links li ul li {
	display: block;
	margin: 10px 0 0 0;

	height: auto;
}

.main .links li ul li .bold {
	font-weight: 400;
}

/*-------------- footer --------------*/
footer{
	background: #242424;
	color: #f5f5f5;
	padding: 15px 0px;
}

.name {	
	background-color: white;
	border: solid 1px #888888;
	height: 20px;
	width: 2px;
	font-size: 20px;
	transition: width 200ms 300ms, height 300ms;
}

.name:hover {
	width: 100px;
	height: 100px;
	transition: width 500ms 300ms,height 300ms;
}

/*-------------- media ---------------*/
@media screen and ( max-width : 479px ){
	header.banner div.nav {
		display : none;
	}
}

